/*body {
    padding-top: 54px;
  }
  
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }

  */
  

  @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700');

h2{margin-bottom:30px; font-weight:800; font-size:30px; color:  rgb(21, 43, 63);}
h2:after{content:" "; width:100px; height:5px; background:rgb(98, 162, 222); display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}



/*.listing-block{background:#fff; height:500px; padding-top:20px; overflow-y:scroll;width: 700px;}*/
.media {background:#fff; position:relative; margin-bottom:15px; width:800px;}
.media img{margin:0;  height: 450px;  width:300px;}
.media-body{text-align:center;border:1px solid #bcbcbc; border-left:0; height:236px;width: 800px}
.media .address{float:left; width:100%; font-size:30px;font-weight:600; color:#4765AB;}*/
.media .price small{display:block; font-size:17px; color:#232323;}
.media .stats{float:left; width:100%; margin-top:10px;}
.media .stats span{float:left; margin-right:10px; font-size:15px;}
.media .stats span i{margin-right:7px; color:#4765AB;}
.media .price{float:left; width:100%;font-size:14px; margin-top:5px; color:#888;}


.map-box{background-color:#A3CCFF;}




body{ height:100%;width:100%;font-size: 14px; color: #333; list-style: 26px;font-family: 'Roboto', sans-serif; }

/** ======================  base css ==============================**/
.btn-glyphicon { padding:8px; background:#ffffff; margin-right:4px; }
.icon-btn {  border-radius:50px;}


a:hover{ text-decoration: none; }
/** ======================  header ==============================**/
.header{ background-color: #3c8dbc }

.header .user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}

.header .navbar-light .navbar-nav .nav-link{ color: #fff }
.header .navbar-light .navbar-nav .nav-link:hover, .header .navbar-light .navbar-nav .nav-link:focus   {
    
       background: rgba(0,0,0,0.1);
    color: #f6f6f6;
}
.header .fa.fa-fw.fa-bars{ color: #fff; }
.header .navbar-light .navbar-nav .nav-link {
    color: #fff;
    padding: 10px 20px;
    position: relative;
}

.header  li>a:after{ display: none; }

.header-ul{    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #ffffff;
    padding: 7px 10px;
    border-bottom: 1px solid #f4f4f4;
    color: #333;
    font-size: 14px;}

    .navbar-nav>.notifications-menu>.dropdown-menu, .navbar-nav>.messages-menu>.dropdown-menu, .navbar-nav>.tasks-menu>.dropdown-menu {
    width: 280px;
    padding: 0 0 0 0;
    margin: 0;
    top: 100%;
}
.navbar-nav>.messages-menu>.dropdown-menu li .menu>li>a>div>img {
    margin: auto 10px auto auto;
    width: 40px;
    height: 40px;
}
.navbar-nav>.messages-menu>.dropdown-menu li .menu>li>a ,.navbar-nav>.notifications-menu>.dropdown-menu li .menu>li>a{
    margin: 0;
    padding: 10px 10px;
        display: block;
    white-space: nowrap;
    border-bottom: 1px solid #f4f4f4;
}
.navbar-nav>.messages-menu>.dropdown-menu li .menu>li>a>h4 {
    padding: 0;
    margin: 0 0 0 45px;
    color: #333;
    font-size: 15px;
    position: relative;
}
.navbar-nav>.messages-menu>.dropdown-menu li .menu>li>a>p {
    margin: 0 0 0 45px;
    font-size: 12px;
    color: #888888;
}




/***    left menu ****/

/***********************  TOP Bar ********************/
.sidebar{ width:220px;  background-color:#195986;transition: all 0.5s  ease-in-out; height: 100%; }
.bg-defoult{background-color:#195986da;}
.sidebar ul{ list-style:none; margin:0px; padding:0px; }
.sidebar li a,.sidebar li a.collapsed.active{ display:block; padding:8px 12px; color:#fff;border-left:0px solid #dedede;  text-decoration:none}
.sidebar li a.active{background-color:#01141fea;border-left:5px solid #dedede; transition: all 0.5s  ease-in-out}
.sidebar li a:hover{background-color:#01141fea !important;}
.sidebar li a i{ padding-right:5px;}
.sidebar ul li .sub-menu li a{ position:relative}
.sidebar ul li .sub-menu li a:before{
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 0px;
    padding-right: 10px;
    vertical-align: middle;
}
.sidebar ul li .sub-menu li a:hover:after {
    content: "";
    position: absolute;
    left: -5px;
    top: 0;
    width: 5px;
    background-color: #111;
    height: 100%;
}
.sidebar ul li .sub-menu li a:hover{ background-color:#222; padding-left:20px; transition: all 0.5s  ease-in-out}
.sub-menu{ border-left:5px solid #dedede;}
	.sidebar li a .nav-label,.sidebar li a .nav-label+span{ transition: all 0.5s  ease-in-out}
	

	.sidebar.fliph li a .nav-label,.sidebar.fliph li a .nav-label+span{ display:none;transition: all 0.5s  ease-in-out}
	.sidebar.fliph {
    width: 42px;transition: all 0.5s  ease-in-out;
   
}
	
.sidebar.fliph li{ position:relative}
.sidebar.fliph .sub-menu {
    position: absolute;
    left: 39px;
    top: 0;
    background-color: #222;
    width: 150px;
    z-index: 100;
}
	

	.user-panel {
    clear: left;
    display: block;
    float: left;
}
.user-panel>.image>img {
    width: 100%;
    max-width: 45px;
    height: auto;
    border-radius: 10px;
}
.user-panel>.info,  .user-panel>.info>a {
    color: #fff;
}
.user-panel>.info>p {
    font-weight: 600;
    margin-bottom: 9px;
}
.user-panel {
    clear: left;
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    padding: 25px 15px;
    border-bottom: 1px solid;
}
.user-panel>.info {
    padding: 5px 5px 5px 15px;
    line-height: 1;
    position: absolute;
    left: 55px;
}

.fliph .user-panel{ display: none; }

.middle
{
  display: block;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
font-size: 23px;
  color: #fff;
  text-align: center;
 background-color: #01141fea;
}

#cont_fluid
{
  padding-left: 250px;
 
}
#inner
{
  display:inline-block;
}
.qty
{
  text-align: center;
}

h1{height:50px;width:100px}
h2{margin-left:200px;margin-top:30px;margin-bottom:10px; font-weight:800; font-size:30px; color:  rgb(21, 43, 63);}
h2:after{content:" "; width:100px; height:5px; background:rgb(98, 162, 222); display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}

.card1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #001e2d;
}
.card .box{
  display: block;
  margin-left: auto;
  margin-right: auto;
 
	box-sizing: border-box;
	box-shadow: 0 20px 50px rgba(0,0,0,.5);
	border:2px solid rgba(0,0,0,.5);
}
.card-img-top
{
  display: block;
margin:0px auto;
  
  height: 700px;
  width:500px;
  border: 12px solid #ffeb3b;
}
#cont
{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

#colm
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.box
{
  display: block;
  margin-left: auto;
  margin-right: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	height: 800px;
	background: #001e2d;
	box-sizing: border-box;
	box-shadow: 0 20px 50px rgba(0,0,0,.5);
	border:2px solid rgba(0,0,0,.5);
}
.box .content{
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	padding: 30px;
	box-shadow: 0 5px 10px rgba(0,0,0,.5);
	text-align: center;
}


svg,
svg rect{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	fill: transparent;
}
svg rect{
	stroke: #0093ff;
	stroke-width:4px;
	stroke-dasharray: 400;
	animation: animate 3s linear infinite;

}


.preview {
    margin-bottom: 20px;
width: 300px;
}

.preview-pic {
-webkit-box-flex: 1;
-webkit-flex-grow: 1;
    -ms-flex-positive: 1;
        flex-grow: 1; }

.preview-thumbnail.nav-tabs {
    padding:0;
border: none;
margin-top: 15px; }
.preview-thumbnail.nav-tabs li {
  width: 23%;
  margin-right: 1.5%; }
  .preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block; }
  .preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0; }
  .preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0; }

    #pic
    {
        width:850px;
        height:150px;

    }
#tab
{
    padding:0;
}
#video
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
    @keyframes animate
{
	0%{
		stroke-dashoffset:800;
	}
	100%{
		stroke-dashoffset:0;
	}
}

